@keyframes introScreen {
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes blink-neon {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

@keyframes mist-1 {
    to {
        left: 0;
        filter: brightness(150%);
    }
}
@keyframes mist-2 {
    to {
        right: 0;
        filter: brightness(100%);
    }
}
    
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

@keyframes showApp {
    1% {
      transform: scaleX(.005) scaleY(.005);
    }
    70% {
      transform: scaleX(1) scaleY(.005);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
}

@keyframes hideElem {
    to {
      opacity: 0;
      visibility: hidden;
    }
}