@import url('./variables.css');

.intro {
    position: absolute;
    /* z-index: 111; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-clr);
    opacity: 1;
    visibility: visible;
    animation: introScreen 5s forwards linear;
}

.mist {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
    .mist-1 {
        position: absolute;
        width: 120%;
        height: 100%;
        left: -20%;
        background-image: url("../assets/mist-1.png");
        animation: mist-1 8s ease-in-out alternate-reverse infinite;
        opacity: .7;
    }
    .mist-2 {
        position: absolute;
        width: 120%;
        height: 100%;
        right: -20%;
        background-image: url("../assets/mist-2.png");
        animation: mist-2 9s ease-in-out alternate-reverse infinite;
        opacity: 1;
        /* filter: brightness(200%); */
    }

.desktop-only {
    display: none;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 22;
    background-color: #222;
    color: var(--theme-clr);
    font-size: 2rem;
}