body {
    background-color: #222;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background: #000;
    height: 100vh;
    overflow: hidden;
    background-image: url("../imgs/bg-1.jpg");
    background-size: cover;
    background-position: center;
}

