@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #030408;
    overflow: hidden;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Gugi", impact, sans-serif;
}

h1 {
    color: #faa;
    text-shadow: 0 -40px 100px, 
                 0 0 2px, 0 0 1em red, 
                 0 0 .5em red, 
                 0 0 .1em red, 
                 0 10px 3px #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 7rem;
    letter-spacing: 10px;
    padding-top: 5rem;
    user-select: none;
}
    h1 span.nd {
        animation: blinking 5s linear infinite;
    }
    h1 span.z {
        position: relative;
        display: inline-block;
        bottom: -2rem;
        transform: rotate(15deg);
        opacity: .8;
    }
    @keyframes blinking {
        78% {
          color: inherit;
          text-shadow: inherit;
        }
        79%{
           color: #333;
        }
        80% {
          text-shadow: none;
        }
        81% {
          color: inherit;
          text-shadow: inherit;
        }
        82% {
          color: #333;
          text-shadow: none;
        }
        83% {
          color: inherit;
          text-shadow: inherit;
        }
        92% {
          color: #333;
          text-shadow: none;
        }
        92.5% {
          color: inherit;
          text-shadow: inherit;
        }
      }

.speech {
  position: absolute;
  left: 10%;
  top: 35%;
  color: #ccc;
  font-family: serif;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
  opacity: 0;
  animation: fadeIn 250ms ease-in forwards 3s;
}
  .speech .red {
    font-family: "Gugi", impact, sans-serif;
    color: red;
    font-size: 1.25rem;
    font-style: normal;
  }
  .speech .delayed {
    opacity: 0;
    animation: fadeIn 250ms ease-in forwards 6s;
  }
  .yesBtn {
    opacity: 0;
    animation: fadeIn 250ms ease-in forwards 10s;
    position: absolute;
    right: 0;
    margin-top: 1rem;
    padding: .5rem 1rem;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

.mist {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
    .mist-1 {
        position: absolute;
        width: 120%;
        height: 100%;
        left: -20%;
        background-image: url("../assets/mist-1.png");
        animation: mist-1 8s ease-in-out alternate-reverse infinite;
    }
    .mist-2 {
        position: absolute;
        width: 120%;
        height: 100%;
        right: -20%;
        background-image: url("../assets/mist-2.png");
        animation: mist-2 9s ease-in-out alternate-reverse infinite;
        filter: brightness(200%);
    }
@keyframes mist-1 {
    to {
        left: 0;
        filter: brightness(150%);
    }
}
@keyframes mist-2 {
    to {
        right: 0;
        filter: brightness(100%);
    }
}

input[type='text'] {
  /* text-transform: uppercase; */
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem .25rem;  
  /* border: 1px solid #aaa; */
  outline: none;
  border: 1px solid #777;
  /* background: transparent; */
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
}
  input[type='text']::placeholder {
    color: #ccc;
  }

button, input[type='submit'] {
  outline: none;
  /* border: none; */
  border: 1px solid #777;

  background-color: red;
  color: #eee;
  font-weight: bold;
  padding: .5rem 0;
  margin: .5rem .25rem;
  text-transform: uppercase;
  cursor: pointer;
}
  button:active,
  input[type='submit']:active {
    transform: scale(.98);
  }
  button:disabled {
    background-color: rgba(255, 0, 0, .3);
    cursor: not-allowed;
  }

.app {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 111;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column;
  width: 50%;
  /* height: 50vh; */
  background-color: rgba(255, 255, 255, .075);
  /* max-height: 20vh; */
  max-height: 45vh;
  min-height: 45vh;
  margin: 3rem 15% 0 auto;
  padding: 1rem;
  /* border: 1px solid red; */
  transform: scale(0);
  transform-origin: center;
  animation: showApp 1s forwards 10s ease-out;
}
  @keyframes showApp {
    10% {
      /* transform: scaleX(1); */
      transform: scaleY(.015);
    }
    80% {
      transform: scaleX(1);
      transform: scaleY(.015);
    }
    100% {
      transform: scaleY(1);
    }
  }
  .app form,
  .app .controls {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
    /* Overriding input[text] elements default width */
    /* #inputElem {width: 0} */

    form #inputElem,
    .controls #startBtn {
      /* flex-grow: 7; */
      width: 80%;
    }
    form #addBtn,
    .controls #resetBtn {
      /* flex-grow: 1; */
      width: 20%;
    }

#items {
  width: 100%;
  /* height: 70rem; */
  max-height: 50rem;
  font-family: "Gugi", impact, sans-serif;
  font-size: 1.25rem;
  color: #fff;
  text-transform: capitalize;
  /* border: 1px solid #fff; */
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  /* overflow-y: scroll; */
}

.item {
  padding: .25rem .75rem;
  margin: .25rem;
  border: 2px solid red;
  background-color: rgba(0, 0, 0, .2);
  /* transition: transform 3s linear; */
}
  .item.js-highlight {
    background-color: red;
    animation: scalePick 2s linear forwards;
  }

  @keyframes scalePick {
    to {
      position: relative;
      z-index: 1111;
      transform: scale(2);
    }
  }

/* #startBtn {
  display: none;
} */

#resetBtn {
  background-color: #111;
}