:root {
    --theme-clr: red;
    --primary-clr: #777;
    --secondary-clr: #aaa;
    --bg-clr: #111;
    --font-primary: #eee;
    --font-secondary: #bbb;
    
    --base-delay: 7s;
    --delayed-speech: calc(var(--base-delay) + 3s);
    --show-app-delay: calc(var(--base-delay) + 8s);
    --hide-line-delay: calc(var(--base-delay) + 9s);
}